<!DOCTYPE html>
<html>
<head>
  <title>Engineer</title>
  {% include 'header.html' %}
  <script src="{{ url_for('static', filename='js/engineer.js') }}"></script>
  
  <style>
    body, html {
        background: transparent !important;
    }

    #paper {
        background-color: rgba(10, 16, 28, 0.6) !important; 
        border-radius: 15px; /* Optional: smooth the corners */
        padding: 20px;
    }
  </style>
</head>

<body>
  <div id="paper">
    <div id="notSupported" style="display:none">
      Sorry, Firefox is not supported. Please use Chrome, Edge, Opera, Safari or Samsung browser.
    </div>
    <div class="video-container">
      <video class="video" id="agent" preload="true">
        <source src="{{ url_for('static', filename='media/jura-anim.mp4') }}"  type="video/mp4">
      </video>
  </div>
  <center><div id="output"> </div></center>
  <center>
    <button class="button" id="record" style="display:none">Snimi pitanje!</button>
  </center>
  <div id="startupute">
    <center>
     <p class="voice-question">
        Do you wish to use your microphone to speak with Analyst?
      </p>
      <button class="button" id="btn-yes">Yes, use voice</button>
      <button class="button" id="btn-no">No, use standard clicks</button>
    </center>
  </div>
</body>
</html>

